*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.bg{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #212529,#212529);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    display: grid;
    height: 450px;
    width: 300px;
    gap: 20px;
    padding: 15px;
    border: 1px solid #f0b76c;
    border-top-right-radius:1.6em  1em ;
    border-bottom-right-radius:1.6em 1em ;
    border-top-left-radius: 1.6em 1em ;
    border-bottom-left-radius:1.6em  1em ;
    box-shadow: 0px 0px 10px #f0bb77;
}
.screen{
    height: 70px;
    border-bottom: 1px solid #ff9f1c;
    border-top-right-radius: 0.5em 1em;
    border-bottom-right-radius: 0.5em 1em;
    border-top-left-radius: 0.5em 1em;
    border-bottom-left-radius: 0.5em 1em;
}
.btn{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 12px;
}
.btn>button{
    border: none;
    border-radius: 50%;
    background: #f0efeb ;
    /* box-shadow: 0px 0px 80px black; */
    font-size: 1.5rem;
    transition: all 0.1s;
}
button:hover{
    background: #f0efebb0;
}
#dvd:hover,#mult:hover ,#plus:hover, #minus:hover ,#equals:hover{
    background-color :#ffa01c97;
}

#dvd,#mult ,#plus, #minus ,#equals{
        background-color: #ff9f1c;
        transition: all 0.1s ease-in-out;
}
#cal,#dec,#prnth,#prcn,#sign{
    background-color: #ffbf69;
}
#cal:hover,#dec:hover,#prnth:hover,#prcn:hover,#sign:hover{
    background-color:#ffbe698f ;
}
@media screen {
    
}